[bumpversion]
current_version = 2
files = README.md
search = **Version**: v{current_version}
replace = **Version**: v{new_version}
commit = True
tag = True
parse = (?P<major>\d+)
serialize = {major}
tag_name = {now:%Y-%m-%d}.v{new_version}

